Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterCaseLabel: false
  AfterFunction: false
  AfterControlStatement: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterNamespace: false
  BeforeElse: false
  BeforeWhile: false
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
ColumnLimit: 120
ContinuationIndentWidth: 8
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
TabWidth: 4
LineEnding: LF